<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<p>Some of the popular languages that Data Scientists use are:</p>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Julia</li>
    <li>Scala</li>
</ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Matplotlib</li>
    <li>Scikit-learn</li>
    <li>TensorFlow</li>
    <li>Seaborn</li>
</ol>

| Data Science Tools   |
|--------|
| Jupyter Notebooks  |
| RStudio    |
| Apache Spark |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>
<p>Addition: 2 + 3 = 5</p>
<p>Subtraction:  5 - 2 = 3</p>
<p>Multiplication:  3 * 4 = 12</p>
<p>Division:  10 / 2 = 5</p>
<p>Exponentiation:  2 ** 3 = 8</p>
<p>Modulo (Remainder):  10 % 3 = 1</p>

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

print("200 minitues=",200/60,"hours")

200 minitues= 3.3333333333333335 hours

<p><b>Objectives:</b></p>

<ul>
    <li>Creating jupyter notebook</li>
    <li>List popular languages for Data Science</li>
    <li>Some of the commonly used libraries used by Data Scientists</li>
    <li>Data Science Tools</li>
    <li>Arithmatic expression</li>
</ul>

<h2>Author</h2>
<p>Rathan R Nayak</p>